.modal__header {
  width: 100%;
  height: auto;
  display: flex;
  padding: 2%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  color: var(--white);
}

h2 {
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}

label {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px 0;
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid var(--lg-gray);
}

.btn {
  padding: 12px 18px;
  margin-right: 1%;
  background-color: var(--gray);
  border: 3px solid var(--white);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--white);
  border: 3px solid var(--gray);
  color: var(--gray);
  transition: 500ms;
}

.btn:disabled {
  background: #dddddd;
}

.btn--close {
  padding: 6px 12px;
  border-radius: 50%;
  font-weight: bold;
}

.btn--close:hover {
  background-color: var(--white);
  border: 3px solid var(--white);
  color: var(--gray);
  transition: 500ms;
}

span {
  color: var(--red);
  font-weight: bold;
}
