/* loader animation from web */

.loader__container {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  background-color: var(--gray);
  color: var(--white);
  font-size: 3em;
  text-align: center;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
