.table__container {
  width: 100%;
  height: auto;
  padding: 2%;
  background-color: var(--white);
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 2%;
}

th,
td {
  padding: 12px 18px;
  text-align: left;
}

th,
.grade__footer {
  background-color: var(--gray);
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: var(--off-white);
}
tr:hover:not(.grade__footer) {
  background-color: var(--lg-gray);
}
